
/* Стили для intek  */
body {
  font-family: 'Gotham Pro', sans-serif;
  color: #000000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.authpage {
  background-color: #122538;
  padding: 60px calc((100% - 1400px) / 2);
}

.authpage__container {
  padding: 60px;
  border: 2px solid #008BD6;
}

.authpage__title {
  color: white;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 80px;
}

.authpage__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.authpage__btns {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.authpage__btns .wrongpassword {
  color: white;
  width: fit-content;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px white solid;
}
.authpage__btn {
  min-width: fit-content;
  width: 100%;
  text-align: center;
  padding: 24px 50px;
  background-color: #008BD6;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  display: block;
}
.authpage__btn.outline {
  width: 100%;
  text-align: center;
  background-color: transparent;
  border: 2px solid #008BD6;
  color: white;
}
.authpage__field {
  outline: none;
  border: none;
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.authpage__input {
  font-size: 18px;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  width: 100%;
  color: white;
  padding: 16px 0;
}
.authpage__input[type="checkbox"] {
  height: 20px;
  width: 20px;
  accent-color: #008bd6d2;
}

.authpage__input::placeholder {
  color: white;
}
.authpage__soglasie {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
}
.authpage__soglasie a{
  color: white;
  text-decoration: none;
  opacity: .7;
}

.profile {
  background-color: #122538;
  display: flex;
  flex-direction: row;
  width: 100%;

  --desktop-width: 1280px;
  --header-height: 50px;
  --sidebar-width: 120px;
}

.profile-container {
  width: 100%;
  padding: 0;
}

.profile-header {
  background-color: white;
  height: var(--header-height);
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding-right: calc((100vw - var(--desktop-width)) / 2);
  gap: 70px;
}
.profile-header__money {
  font-weight: 400;
  font-size: 16px;
}
.profile-header-mobile {
  display: none;
  background-color: black;
  width: 100%;
  height: var(--header-height);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 13px 20px;
  position: relative;
  z-index: 10;
}
.profile-header-mobile__logo {
  height: 100%;
  width: fit-content;
}
.profile-header-mobile__hambbtn {
  min-width: 18px;
  width: 18px;
  height: 13px;
  margin: 10px 0;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}
.profile-header-mobile__hambbtn span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: white;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}
.profile-header-mobile__hambbtn span:nth-child(1) {
  top: 0px;
}
.profile-header-mobile__hambbtn span:nth-child(2) {
  top: 6px;
}
.profile-header-mobile__hambbtn span:nth-child(3) {
  top: 6px;
}
.profile-header-mobile__hambbtn span:nth-child(4) {
  top: 12px;
}
.profile-header-mobile__hambbtn.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.profile-header-mobile__hambbtn.open span:nth-child(2) {
  transform: rotate(45deg);
}
.profile-header-mobile__hambbtn.open span:nth-child(3) {
  transform: rotate(-45deg);
}
.profile-header-mobile__hambbtn.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.header-modal {
  position: fixed;
  padding: 100px 20px 20px 20px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9;
  background-color: black;
  display: none;
  overflow-y: scroll;
  flex-direction: column;
}
.header-modal.open {
  display: flex;
}
.header-modal__money {
  color: white;
  margin-bottom: 10px;
}
.header-modal__money.fio {
  margin-bottom: 40px;
}
.header-modal__nav {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.header-modal__link {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 20px;
  text-decoration: none;
  white-space: nowrap;
}
.header-modal__link span {
  color: white;
  white-space: nowrap;
}
.header-modal__link img{
  width: 35px;
  height: 35px;
  object-fit: contain;
}
.header-modal__link.active span {
  color: #008bd6;
}
.header-modal__link.active img {
  filter: brightness(0) invert(0.35) sepia(1) saturate(20) hue-rotate(174deg);
}
.header-modal__caption {
  color: #008BD6;
  font-weight: 700;
  text-decoration: none;
}

.profile-sidebar {
  background-color: #141414;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  height: 100vh;
  padding: 45px 20px;
  min-width: var(--sidebar-width);
  max-width: var(--sidebar-width);
  transition: all .5s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}

.profile-sidebar__nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.profile-sidebar__link {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 20px;
  text-decoration: none;
  white-space: nowrap;
}
.profile-sidebar__link img{
  width: 35px;
  height: 35px;
  object-fit: contain;
}
.profile-sidebar__link span {
  color: white;
  display: none;
  transform: scale(0.1);
  white-space: nowrap;
}
.profile-sidebar__link.active span {
  color: #008bd6;
}
.profile-sidebar__link.active img {
  filter: brightness(0) invert(0.35) sepia(1) saturate(20) hue-rotate(174deg);
}
.profile-sidebar__logo {
  width: 77px;
  object-fit: contain;
}
.profile-sidebar__logo.open {
  left: 25px;
  height: 47px;
  width: 188px;
  object-fit: contain;
  display: none;
}

.profile-sidebar.open {
  min-width: 250px;
  max-width: 250px;
}

.profile-sidebar.open .profile-sidebar__logo {
  display: none;
}
.profile-sidebar.open .profile-sidebar__logo.open {
  display: block;
}
.profile-sidebar.open .profile-sidebar__link span{
  display: block;
  transform: scale(1);
}


.profile-content {
  background-color: #122538;
  height: calc(100vh - var(--header-height));
  width:  calc(100vw - var(--sidebar-width));
  margin-left: var(--sidebar-width);
  padding: 100px calc((100% - var(--desktop-width)) / 2);
  overflow-y: scroll;
  position: relative;
}
.profile-content::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 130px;
  height: 100%;
  background: url(/img/profileBG.jpg) 100px/450px repeat;
  filter: brightness(1.44) sepia(0.25) hue-rotate(3deg) saturate(.75);
  opacity: .5;
}
.profile-content::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 130px;
  height: 100%;
  background: url(/img/profileBG.jpg) 100px/450px repeat;
  filter: brightness(1.44) sepia(0.25) hue-rotate(3deg) saturate(.75);
  opacity: .5;
}

.profile-content__title {
  color: white;
  font-size: 30px;
  margin-bottom: 40px;
}
.lk {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.lk__block {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  padding: 30px 0;
  border-top: 1px solid #008BD6;
}
.lk__block:last-child {
  border-bottom: 1px solid #008BD6;
}
.lk__subtitle {
  color: white;
  flex: 1;
  font-size: 24px;
  font-weight: 400;
}
.lk__subtitle.sub {
  color: #008BD6;
}
.lk__subtitle.inn {
  display: block;
  color: white;
  font-size: 16px;
  margin: 8px 0 0 0;
}
.lk__btn {
  width: fit-content;
  border: 1px solid white;
  color: white;
  padding: 10px 30px;
  background-color: transparent;
  cursor: pointer;
}
.lk__right {
  color: white;
  flex: 1;
  font-size: 16px;
}
.lk__right.password {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lk__right.company {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.lk__input-inn {
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 8px 0;
}
.lk__input.inn {
  background: none;
  color: #808080;
  border: 1px solid #808080;
  padding: 10px 15px;
  height: fit-content;
  width: 210px;
  font-size: 14px;
}
.lk__input.inn::placeholder {
  color: #808080;
  font-size: 14px;
}
.lk__input.file {
  opacity: 0;
  position: absolute;
  top: -3px;
  left: 0;
  height: 100%;
  cursor: pointer;
}
.lk__err {
  margin-top: 10px;
  display: block;
  max-width: 390px;
  font-size: 16px;
  color: #FF5A5A;
}
.lk__input-wrapper {
  margin-top: 30px;
  position: relative;
  width: fit-content;
}

.lk__input-file-button {
  display: flex;
  align-items: center;
  margin: 0 !important;
}

.lk__input-file-icon {
  object-fit: contain;
  height: 20px;
  margin-right: 10px;
}

.lk__input-file-button-text {
  color: white;
}

.password-modal {
  display: none;
}
.password-modal.open {
  display: block;
}
.password-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: #0006;
  cursor: pointer;
}

.password-modal__form {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  height: fit-content;
  z-index: 6;
  background-color: #122538;
  border: 2px solid #008BD6;
  padding: 50px 30px 30px 30px;
  border-radius: 30px;
  transform: translate(-50%, -50%);
}
.password-modal__close {
  cursor: pointer;
  border: none;
  background: none;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background: url(/img/close-icon.png) center/contain no-repeat;
  filter: brightness(0) invert(0.35) sepia(1) saturate(8) hue-rotate(174deg);
}

.password-modal__form .authpage__field {
  width: 100%;
  gap: 0;
  margin-bottom: 30px;
}

.password-modal__save {
  display: block;
  border: none;
  background-color: #008BD6;
  color: white;
  padding: 10px 30px;
  font-size: 18px;
  margin: 0 auto;
  border-radius: 30px;
}

.profile-breadcrumbs {
  display: flex;
  flex-direction: row;
  gap: 45px;
}
.profile-breadcrumbs a {
  color: white;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  margin-bottom: 15px;
}
.profile-breadcrumbs a::after {
  content: "";
  position: absolute;
  top: -3px;
  right: -34px;
  width: 24px;
  height: 24px;
  background: url(/img/icon-breadcrums.svg) center/contain no-repeat;
}
.profile-breadcrumbs p {
  color: white;
  font-size: 14px;
}

.edo {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.edo__title {
  color: white;
  font-size: 30px;
  font-weight: 700;
}
.edo__subtitle {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.edo__text {
  color: white;
  font-size: 16px;
}
.edo__list {
  color: white;
  padding-left: 20px;
}
.edo__list li {
  font-size: 16px;
  line-height: 18px;
}
.edo__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.edo__content {
  display: flex;
  flex-direction: row;
  gap: 100px;
}
.edo__block {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
}
.edo__block h4 {
  color: #A8CF44;
}
.edo__block ol {
  padding-left: 20px;
}

@media screen and (max-height: 730px) {
  .profile-sidebar__logo {
    width: 50px;
  }
  .profile-sidebar__nav {
    gap: 15px;
  }
}

@media screen and (max-width: 1600px) {
  .profile-content::after, .profile-content::before {
    display: none;
  }
}

@media screen and (max-width: 1400px) {
  .profile {
    --desktop-width: 90%;
  }
}
@media screen and (max-width: 900px) {
  .profile {
    --desktop-width: calc(100% - 40px);
    --header-height: 66px;
  }
  .profile-sidebar {
    display: none;
  }
  .profile-header {
    display: none;
  }
  .profile-header-mobile {
    display: flex;
  }
  .profile-content {
    width: 100%;
    margin: 0;
    height: fit-content;
  }
  .profile-content__title {
    margin-bottom: 30px;
  }
  .lk {
    padding: 60px 0;
  }
  .lk .profile-content__title {
    padding: 0 calc((100% - var(--desktop-width)) / 2);
  }
  .lk__block {
    padding: 20px calc((100% - var(--desktop-width)) / 2);
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
  .lk__right {
    font-size: 14px;
  }
}