/* ============================ Пишем оформление элементов SiteNN по умолчанию */

a {
  color: #000;
} 
a:hover{
color: #008dd0;
}
figure {
margin: 0;
}
h1,h2,h3,h4,h5,h6 {
  line-height: 100%;
}

h1 {font-size: 18px;}
h2 {font-size: 17px;}
h3 {font-size: 16px;}
h4 {font-size: 15px;}
h5 {font-size: 14px;}
h6 {font-size: 12px;}

h1 a,
h1 small,
h2 a,
h2 small,
h3 a,
h3 small,
h4 a,
h4 small,
h5 a,
h5 small,
h6 a,
h6 small {
  font-weight: normal;
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  padding: 6px 12px;
  color: #555;
  border: 1px solid #ccc;
  background-image: none;
  background-color: #fff;

  border-radius: 2px;
  font-size: 14px;
  box-shadow: 0 0 10px #eee inset;

  -webkit-transition: all .28s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: all .28s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all .28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all .28s cubic-bezier(0.4, 0, 0.2, 1);
}

input::-webkit-input-placeholder {}
input:-moz-placeholder {}
input::-moz-placeholder {}
textarea::-webkit-input-placeholder {}
textarea:-moz-placeholder {}
textarea::-moz-placeholder {}

input:-webkit-autofill {box-shadow: inset 0 0 0 1000px #fff;}

input[disabled],
select[disabled],
textarea[disabled] {
  cursor: not-allowed;
  background-color: #eee;
}

input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  border-color: #66afe9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.view input[type="checkbox"],
.view input[type="radio"] {height: 16px;}

/* ============================ Готовые классы помошники */
 .ie7 .cf,
.ie7 .container {zoom: 1;}

.cf:before,
.cf:after,
.container:before,
.container:after {display: table;content: "";}

.cf:after,
.container:after {clear: both;}

.tar {text-align: right;}
.tac {text-align: center;}
.tal {text-align: left;}
.taj {text-align: justify;}
.fl {float: left;}
.fr {float: right;}
.ovh {overflow: hidden;}
.pd10 {padding: 10px}

/* Простой обнуленный список */
.ln,
.ln ul,
.ln ol {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Табличный список */
.list-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.list-table > ul {display: table-row;}
.list-table > ul > li {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.list-table > ul > li > a {display: block;}

.list-center {
  text-align: center;
  font-size: 0;
}

.list-right {
  text-align: right;
  font-size: 0;
}

.list li,
.lfl li,
.list-center li,
.list-right li {position: relative;}

.lfl > li {float: left;}

.list-center > li,
.list-right > li {
  display: inline-block;
  vertical-align: top;
}

.list-center a,
.list-right a {font-size: 14px;}

/* Таблицы */
.table {
  width: 100%;
  table-layout: fixed;
}

/* Центрирование по верикали и горизонтали строчные элементы (ie7 в стороне)*/
.center {
  overflow: auto;
  white-space: nowrap;
  text-align: center;
  font-size: 0;
}

.center:before {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  content: '';
}

.center-ins {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: left;
  font-size: 14px;
}



/* Основа для кнопок */
.but {
  position: relative;
  display: inline-block;
  padding: 0 7px;
  margin: 0;
  border: 0;
  outline: none;
  font-size: 13px;
  line-height: 26px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color: #fff;

  -ms-touch-action: manipulation;
  touch-action: manipulation;

  -webkit-transition: all .28s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: all .28s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all .28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all .28s cubic-bezier(0.4, 0, 0.2, 1);
}

.but1 {background: #FF2F43;}

.but2 {
  background: #D6D6D6;
  color: #575757;
}

.but2:hover,
.but1:hover {
  background: #3F82B7;
  color: #fff;
}

.ie7 .but {
  zoom: 1;
  display: inline;
}

/* Класс для запуска анимаций */
.animated {
  -webkit-animation-duration: .8s;
  -moz-animation-duration: .8s;
  -o-animation-duration: .8s;
  animation-duration: .8s;

  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* Зацикливание анимации*/
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


/*
  ================================================================================================== Основная верстка ==================================================================================================
*/

/* Путь по сайту */
#path {
  margin: 0 0 1em 0;
      padding: 10px 0;

}
#path1 {
  margin: 0 0 1em 0;
    padding: 10px;

}

#path a, #path1 a {
  font-size: 13px;
  color: #808080;
}

#path a:last-child, #path1 a:last-child {
  cursor: text;
  text-decoration: none;
  font-weight: bold;
  pointer-events: none;
}






/* ============================ Фильтр */
.filter {
  margin: 10px;
}

.filter-sorted {margin-bottom: 15px;}

.sorted {float: left;}

.sorted select {
  border-radius: 4px;
  background: #F6F6F6;
  border: 1px solid #CFCFCF;
  box-shadow: none;
}

.catalog-view {float: right;}

.catalog-view ul {
  display: inline-block;
  vertical-align: middle;
}

.catalog-view ul a {
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
}

#view1 {background: url('/images/icons/view1.png') 0 0;}
#view1.act {background: url('/images/icons/view1.png') 0 -10px;}
#view2 {background: url('/images/icons/view2.png') 0 0;}
#view2.act {background: url('/images/icons/view2.png') 0 -10px;}
#view3 {background: url('/images/icons/view3.png') 0 0;}
#view3.act {background: url('/images/icons/view3.png') 0 -10px;}

#filter-toggle {
  display: inline-block;
  vertical-align: middle;
  background: #ADADAD;
  border: 0;
  font-size: 13px;
  color: #fff;
  width: 135px;
  height: 26px;
}

#filter {
  background: #F1F1F1;
  padding: 13px 25px
}

.filters {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.filters label {
  float: left;
  width: 180px;
  font-size: 13px;
  line-height: 100%;
}

.filters td {
  padding: 11px 0;
  border-bottom: 1px solid #C8C8C8;
}

.filters tr:last-child td {border-bottom: 0}

.filters td:first-child {border-right: 37px solid #F1F1F1;}

.filters select {
  float: right;
  width: 121px;
  border: 1px solid #C8C8C8;
  border-radius: 4px;
  box-shadow: none;
  height: 25px;
  padding: 0;
}

#filter input[type="reset"] {
  text-decoration: underline;
  background: none;
  color: #575757;
  border: 0;
  font-size: 13px;
}




/* Переключатель страниц */
.pager:before {
  font-size: 13px;
  content: 'Страница:';
}

.pager a {
  margin: 0 1px;
  color: #000;
}

.pager a.active {
  background: #0484C9;
  color: #fff;
  font-weight: normal;
  padding: 0 4px;
  text-decoration: none;
}

/* ============================ Разделы каталога */
.catalog-section {
  position: relative;
  float: left;

  /* Для блоков с динамическим контентом */
  /*display: inline-block;
  vertical-align: top;*/

  width: 33.3%;
}

/*.ie7 .catalog-section {
  zoom: 1;
  display: inline;
}*/

.catalog-section img {}
.catalog-section figcaption {}

.catalog-section figcaption a {
  display: block;
  text-decoration: none;
}

/* ============================ Позиции каталога */

/*.catalog-item .prev-img img {
  width: 148px;
  height: 148px;
} */

/* ============================ Вид 1 */
/*.catalog-item.view1 {
  display: inline-block;
  vertical-align: top;
  width: 150px;
  padding-bottom: 19px;
  margin: 0 18px 10px 0;
} */


.ie7 .catalog-item.view1 {
  zoom: 1;
  display: inline;
}

.catalog-item.view1 .prev-img {
  display: block;
  border: 1px solid #DCDCDC;
  display: none;
}

.catalog-item.view1 .item-title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  color: #1f3d5b;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.catalog-item.view1:hover .item-title,
.catalog-item.view1:hover p { 
color: #fff;
} 
.catalog-item.view1 p {
    line-height: 1.2;
    font-weight: 700;
    color: #000000;
    margin: 20px 0;
}
/* ============================ Вид 2 */
.catalog-item.view3:before,
.catalog-item.view2:before {
  position: absolute;
  top: 100%;
  left: 0;
  height: 1px;
  width: 720px;
  margin: 0 6px;
  background: #DCDCDC;
  content: "";
}

.catalog-item.view2 .prev-img {
  float: left;
  display: block;
  border: 1px solid #DCDCDC;
  margin-right: 21px;
}

.catalog-item.view2 figcaption {
  float: left;
}

.catalog-item.view2 .item-price {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  color: #575757;
  margin: 10px 0;
}

/* ============================ Вид 3 */
.catalog-item.view3 .item-title {
  color: #575757;
  float: left;
}

.catalog-item.view3 .item-price {
  display: inline-block;
  vertical-align: middle;
}

.catalog-item.view3 .buy {margin-right: 15px;}
.catalog-item.view3:hover .buy {margin-right: 0;} 

#catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.catalog-item {
   width: 33.33%;
    padding: 30px;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    border: 1px solid #d5d5d5;
}
.catalog-item:hover {
  background: #1f3d5b;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

/* ============================ Детальная страница */
.detail-info-img {
  float: left;
  width: 200px;
  position: relative
}

.detail-info-img img {border: 1px solid #DCDCDC;}
.detail-info-img .item-price {display: inline-block;}
.manufacturer {font-weight: bold;}
.manufacturer a {font-size: 18px;}

.detail-page-info {
  float: left;
  width: 475px;
  margin-left: 18px;
}

.tabs-nav {border: 1px solid #8A8A8A}
.tabs-cont {padding-top:10px;}


.tabs-nav a {
  position: relative;
  display: block;
  line-height: 27px;
  padding: 0 5px;
  text-decoration: none;
}

.tabs-nav a.act,
.tabs-nav a:hover {
  color: #fff;
  background: #0085CD;
}

.tabs-nav a.act:before,
.tabs-nav a:hover:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #000;
  border-width: 6px;
  margin-left: -6px;
}

.tabs-nav a.act:after,
.tabs-nav a:hover:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #fff;
  border-width: 4px;
  margin-left: -4px;
}

/* ============================ Форма для вопросов */
#question_form {padding: 10px;}

#question_form label,
#question_form .cf input,
#question_form .cf textarea {
  float: left;
}

#question_form label {width: 100px;}

#question_form .cf input,
#question_form .cf textarea {
  margin-bottom: 10px;
  width: 329px;
}

#question_form .cf textarea {height: 100px}


/* Стили для intek  */
body {
  font-family: 'Gotham Pro', sans-serif;
  color: #000000;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

a:hover {
  color: #000000;
  text-decoration: none;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bg {
  background: url(../images/map.png) center center/cover no-repeat;
}

.header {
  position: relative;
}

.header a {
  font-size: 14px;
}

.header .header-overlay {
  padding: 25px 0;
  background-color: rgba(18, 37, 56, 0.3);
  border-bottom: 1px solid #ffffff;
  position: fixed;
  width: 100%;
  z-index: 1000;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.header .header-overlay-all {
  padding: 25px 0;
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.header .header-overlay-all .nav-container .nav li a {
  color: #000000;
}

.header .header-overlay-all .nav-container .contacts a {
  color: #000000;
}

.header .header-overlay-all .nav-container .enter {
  color: #000000;
}

.header .header-overlay-all .nav-container .logo .logo-normal {
  width: auto;
}

.header .header-overlay-all .menu-icon .menu-icon-line,
.header .header-overlay-all .menu-icon .menu-icon-line::before,
.header .header-overlay-all .menu-icon .menu-icon-line::after {
  background: #000000;
}

.header .header-overlay-all .menu-icon-active .menu-icon-line {
  background-color: transparent;
}

.header .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav-container .logo {
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.header .nav-container .logo .logo-normal {
  width: 169px;
}

.header .nav-container .logo .logo-active {
  display: none;
}

.header .nav-container .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header .nav-container .nav li a {
  color: #ffffff;
  padding: 0 10px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.header .nav-container .nav li a:hover {
  color: #008dd0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.header .nav-container .nav li:last-child {
  margin-right: 0;
}

.header .menu-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  z-index: 100;
  display: none;
}

.header .menu-icon .menu-icon-line {
  width: 30px;
  height: 5px;
  background: #ffffff;
  position: relative;
  top: 10px;
}

.header .menu-icon .menu-icon-line::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 5px;
  background: #ffffff;
  left: 0;
  top: -10px;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}

.header .menu-icon .menu-icon-line::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 5px;
  background: #ffffff;
  left: 0;
  top: 10px;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}

.header .menu-icon-active .menu-icon-line {
  background-color: transparent;
}

.header .menu-icon-active .menu-icon-line::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}

.header .menu-icon-active .menu-icon-line::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}

.header .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .contacts a {
  color: #fff;
  padding: 0 15px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.header .contacts a:hover {
  color: #008dd0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.header .contacts .contacts-phone {
  background: url(../images/phone.png) 0 5px no-repeat;
}

.header .enter {
  color: #fff;
  padding-left: 15px;
  background: url(../images/enter.png) 0 5px no-repeat;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.header .enter:hover {
  color: #008dd0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.header .sticky {
  width: 100%;
  background: #ffffff;
  padding: 20px 0;
  -webkit-box-shadow: #e8e8e8 2px 2px 10px;
          box-shadow: #e8e8e8 2px 2px 10px;
}

.sticky-nav .wrap .nav li a,
.sticky-nav .contacts a,
.sticky-nav .enter {
  color: #000000;
}

.sticky-nav .logo .logo-normal {
  display: none;
}

.sticky-nav .logo .logo-active {
  display: block !important;
}

.sticky-nav .menu-icon .menu-icon-line::before,
.sticky-nav .menu-icon .menu-icon-line,
.sticky-nav .menu-icon .menu-icon-line::after {
  background: #000000;
}

.sticky-nav .menu-icon-active .menu-icon-line {
  background-color: transparent;
}

.slider {
  padding: 150px 0 50px 0;
}

.slider .slider-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.slider .slider-box .slider-box-info,
.slider .slider-box .slider-box-img {
  width: 45%;
}

.slider .slider-box .slider-box-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider .slider-box .slider-box-info-text {
  font-size: 27px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
}

.slider .slider-box .slider-box-info-btn {
  font-size: 14px;
  background: #ffffff;
  padding: 10px 20px;
  margin: 30px 0 50px 0;
}

.fuel .container-fluid {
  padding: 0;
}

.fuel .fuel-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fuel .fuel-box .fuel-box-item {
  width: 33.33%;
  padding: 30px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  border: 1px solid #d5d5d5;
}

.fuel .fuel-box .fuel-box-item .title {
  font-size: 50px;
  line-height: 1.2;
  font-weight: 700;
  color: #1f3d5b;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.fuel .fuel-box .fuel-box-item .subtitle {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  color: #000000;
  margin: 20px 0;
}

.fuel .fuel-box .fuel-box-item .text {
  line-height: 1.2;
  margin-bottom: 20px;
}

.fuel .fuel-box .fuel-box-item .btn {
  opacity: 0;
  padding: 10px 40px;
  font-size: 14px;
  background: #fff;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.fuel .fuel-box .fuel-box-item:hover {
  background: #1f3d5b;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.fuel .fuel-box .fuel-box-item:hover .title,
.fuel .fuel-box .fuel-box-item:hover .subtitle,
.fuel .fuel-box .fuel-box-item:hover .text {
  color: #fff;
}

.fuel .fuel-box .fuel-box-item:hover .btn {
  opacity: 1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.fuel-analogue {
  padding: 90px 0 70px 0;
}

.fuel-analogue .fuel-analogue-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fuel-analogue .fuel-analogue-box .fuel-analogue-box-left {
  width: 30%;
}

.fuel-analogue .fuel-analogue-box .fuel-analogue-box-left .title {
  font-size: 30px;
  color: #243d5c;
  line-height: 1.2;
  font-weight: 700;
}

.fuel-analogue .fuel-analogue-box .fuel-analogue-box-left .descr {
  font-weight: 700;
  line-height: 1.2;
  margin: 30px 0;
}

.fuel-analogue .fuel-analogue-box .fuel-analogue-box-left .btn a {
  font-size: 14px;
  background: #243d5c;
  color: #fff;
  padding: 5px 25px;
}

.fuel-analogue .fuel-analogue-box .fuel-analogue-box-brend {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fuel-analogue .fuel-analogue-box .fuel-analogue-box-brend .brend-item {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.fuel-analogue .fuel-analogue-box .fuel-analogue-box-brend .brend-item img {
  width: auto;
}

.fuel-katalog .fuel-box .fuel-box-item .title {
  font-size: 30px;
}

.fuel-katalog .fuel-box .fuel-box-item .subtitle {
  font-size: 16px;
}

.big-bg {
  padding: 70px 0;
  background: url(../images/big-bg.png) center center/cover no-repeat;
}

.news .news-title {
  font-size: 24px;
  margin: 0;
  color: #fff;
}

.news .news-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
}

.news .news-box .news-box-item {
  width: 24%;
  height: 266px;
  background: url(../images/news.png) center no-repeat;
  background-size: 100% 100%;
  padding: 40px 20px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.news .news-box .news-box-item .item-text {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 500;
}

.news .news-box .news-box-item .item-link {
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news .news-box .news-box-item .item-link i {
  font-size: 14px;
  margin-left: 5px;
  margin-top: 2px;
}

.news .news-box .news-box-item:hover {
  background: #1a3550;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.news .news-btn a {
  color: #fff;
  font-size: 14px;
  padding: 15px 40px;
  background: #1a3550;
}

.gallery .container-fluid {
  padding: 0;
}

.gallery .gallery-box {
  padding: 50px 0;
}

.gallery .gallery-box .gallery-box-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery .gallery-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.gallery .gallery-btn a {
  color: #fff;
  font-size: 14px;
  padding: 15px 40px;
  background: #1a3550;
}

.gallery .gallery-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery .gallery-btns .prev,
.gallery .gallery-btns .next {
  padding: 10px 14px;
  border: 1px solid #ffffff;
}

.gallery .gallery-btns .prev i,
.gallery .gallery-btns .next i {
  color: #ffffff;
  width: 16px;
  cursor: pointer;
}

.about {
  padding: 0px 0 70px 0;
  background: url(../images/about-bg.png) center center/cover no-repeat;
}

.about .about-title {
  font-size: 24px;
  margin: 0 0 50px 0;
  color: #fff;
}

.about .about-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .about-box .about-box-text {
  width: 48%;
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
}

.about .about-box .about-box-info {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .about-box .about-box-info .about-box-info-item {
  width: 31%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .about-box .about-box-info .about-box-info-item .item-icon {
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.about .about-box .about-box-info .about-box-info-item .item-icon-text {
  font-size: 62px;
  font-weight: 500;
  color: #ffffff;
}

.about .about-box .about-box-info .about-box-info-item .item-text {
  color: #ffffff;
  margin-top: 26px;
  line-height: 1.2;
  text-align: center;
}

.about .about-btn a {
  color: #fff;
  font-size: 14px;
  padding: 15px 40px;
  background: #1a3550;
  margin-top: 50px;
}

.about .about-btn a:focus {
  border: 2px solid #1f3d5b;
  background: #FDFDFD;
  color: #1f3d5b;
}
.feedback-box {
  padding: 50px;
  border: 1px solid #d5d5d5;
}

.feedback-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 40px;
}

.feedback-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feedback-input:nth-child(1) {
  width: 35%;
}

.feedback-input:nth-child(2) {
  width: 55%;
}

.feedback-input input {
  width: 100%;
  margin-bottom: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid #d5d5d5;
  padding: 10px 0; 
  box-shadow: 0 0 0;
}

.feedback-input input::-webkit-input-placeholder {
  font-size: 14px;
}

.feedback-input input:-ms-input-placeholder {
  font-size: 14px;
}

.feedback-input input::-ms-input-placeholder {
  font-size: 14px;
}

.feedback-input input::placeholder {
  font-size: 14px;
}

.feedback-input textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: none;
  outline: none;
  border: 1px solid #d5d5d5; 
  box-shadow: 0 0 0;
}

.feedback-input textarea::-webkit-input-placeholder {
  font-size: 14px;
}

.feedback-input textarea:-ms-input-placeholder {
  font-size: 14px;
}

.feedback-input textarea::-ms-input-placeholder {
  font-size: 14px;
}

.feedback-input textarea::placeholder {
  font-size: 14px;
}

.feedback-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.feedback-btns span {
  display: inline-block;
  font-size: 14px;
  color: #767676;
  margin-left: 5px;
}

.feedback-btns button {
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  padding: 15px 40px;
  background: #1a3550;
  cursor: pointer;
}
.footer {
  padding: 70px 0;
}

.footer .footer-brend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-brend .brend-item {
  width: 12%;
}

.footer .footer-brend .brend-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.4;
  transition: all .5s
}
.footer .footer-brend .brend-item img:hover{
  opacity: 1;
}

.footer .footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 100px 0;
}

.footer .footer-contacts .footer-contacts-phone {
  padding-left: 25px;
  background: url(../images/phone-black.png) 0 0 no-repeat;
}

.footer .footer-contacts .footer-contacts-phone a {
  display: block;
  font-size: 14px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.footer .footer-contacts .footer-contacts-phone a:nth-child(1) {
  font-weight: 700;
}

.footer .footer-contacts .footer-contacts-phone a:hover {
  color: #008dd0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.footer .footer-contacts .footer-contacts-email {
  padding-left: 28px;
  background: url(../images/email.png) 0 5px no-repeat;
}

.footer .footer-contacts .footer-contacts-email a,
.footer .footer-contacts .footer-contacts-email span {
  display: block;
  font-size: 14px;
}

.footer .footer-contacts .footer-contacts-email a {
  font-weight: 700;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.footer .footer-contacts .footer-contacts-email a:hover {
  color: #008dd0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.footer .footer-contacts .footer-contacts-location {
  padding-left: 28px;
  background: url(../images/location.png) 0 5px no-repeat;
}

.footer .footer-contacts .footer-contacts-location span {
  display: block;
  line-height: 24px;
  font-size: 14px;
}

.footer .footer-contacts .footer-contacts-btn a {
  color: #fff;
  font-size: 14px;
  padding: 15px 40px;
  background: #1a3550;
}

.footer .footer-contacts .footer-contacts-btn a:focus {
  border: 2px solid #1f3d5b;
  background: #FDFDFD;
  color: #1f3d5b;
}

.footer .footer-contacts .footer-contacts-menu {
  width: 25%;
}

.footer .footer-contacts .footer-contacts-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-contacts .footer-contacts-menu ul li {
  display: inline-block;
  width: 48%;
}

.footer .footer-contacts .footer-contacts-menu ul li:nth-child(3) {
  width: 100%;
}

.footer .footer-contacts .footer-contacts-menu ul li:nth-child(2), .footer .footer-contacts .footer-contacts-menu ul li:last-child {
  text-align: right;
}

.footer .footer-contacts .footer-contacts-menu ul li a {
  font-size: 14px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.footer .footer-contacts .footer-contacts-menu ul li a:hover {
  color: #008dd0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.footer .footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-info .footer-info-copyright,
.footer .footer-info .footer-info-made {
  font-size: 14px;
  color: #aeaeae;
}

.footer .footer-info .footer-info-copyright a,
.footer .footer-info .footer-info-made a {
  font-size: 14px;
  color: #aeaeae;
  margin-left: 10px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.footer .footer-info .footer-info-copyright a:hover,
.footer .footer-info .footer-info-made a:hover {
  color: #008dd0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.56);
  z-index: 2000;
  display: none;
}

.overlay .modal-feetback {
  width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #FDFDFD;
  -webkit-box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.25);
  padding: 40px;
  z-index: 100;
  display: none;
}

.overlay .modal-feetback .modal-feetback-close {
  position: absolute;
  top: 0;
  right: -40px;
  font-size: 40px;
  line-height: 21px;
  color: #fff;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay .modal-feetback .modal-feetback-close:hover {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay .modal-feetback .modal-feetback-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 30px;
}

.overlay .modal-feetback .modal-feetback-descr {
  margin: 0 0 30px 0;
}

.overlay .modal-feetback .modal-feetback-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.overlay .modal-feetback .modal-feetback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 58%;
}

.overlay .modal-feetback .modal-feetback-form .modal-feetback-input {
  margin-bottom: 30px;
  outline: none;
  border: 2px solid #1f3d5b;
  width: 100%;
  padding: 12px 15px;
  color: #979797;
}

.overlay .modal-feetback .modal-feetback-form .modal-feetback-btn {
  display: inline-block;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 15px;
  background: #1f3d5b;
  color: #FFFFFF;
  width: 50%;
}

.overlay .modal-feetback .modal-feetback-form .modal-feetback-btn:focus {
  border: 2px solid #1f3d5b;
  background: #FDFDFD;
  color: #1f3d5b;
}

.overlay .modal-feetback .modal-feetback-form .modal-feetback-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.overlay .modal-feetback .modal-feetback-form .modal-feetback-subscribe label {
  margin: 0;
  position: relative;
  padding-left: 25px;
  font-size: 14px;
}

.overlay .modal-feetback .modal-feetback-form .modal-feetback-subscribe label::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #1f3d5b;
}

.overlay .modal-feetback .modal-feetback-form .modal-feetback-subscribe input[type=checkbox] {
  display: none;
}

.overlay .modal-feetback .modal-feetback-form .modal-feetback-subscribe input[type=checkbox]:checked + label:before {
  content: "";
  background: url(../images/check.png) 0 0 no-repeat;
}

.overlay .modal-feetback .modal-feetback-contacts {
  width: 32%;
}

.overlay .modal-feetback .modal-feetback-contacts .text {
  margin-bottom: 20px;
}

.overlay .modal-feetback .modal-feetback-contacts .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.overlay .modal-feetback .modal-feetback-contacts .phone {
  padding-left: 25px;
  background: url(../images/phone-black.png) 0 0 no-repeat;
  font-weight: 700;
}

.overlay .modal-feetback .modal-feetback-contacts .email {
  padding-left: 28px;
  background: url(../images/email.png) 0 5px no-repeat;
  font-weight: 700;
  margin: 10px 0;
}

.overlay .modal-feetback .modal-feetback-contacts .location {
  display: inline-block;
  padding-left: 28px;
  background: url(../images/location.png) 0 5px no-repeat;
}

@media screen and (max-width: 1200px) {
  .header .nav-container .menu-icon {
    display: inline-block;
  }
  .header .nav-container .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .nav-container .wrap {
    position: fixed;
    width: 80%;
    height: auto;
    top: 0;
    left: -100%;
    background: #1a3550;
    padding: 20px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .header .mobile-nav-active {
    left: 0 !important;
  }
  .header .nav-container .nav li {
    margin: 0;
  }
  .header .nav-container .nav li a {
    display: block;
    padding: 10px 0;
  }
  .header .header-overlay-all .nav-container .nav li a {
    color: #ffffff;
  }
  .sticky-nav .wrap .nav li a {
    color: #ffffff;
  }
  .slider .slider-box .slider-box-info,
  .slider .slider-box .slider-box-img {
    width: 100%;
  }
  .fuel .fuel-box .fuel-box-item .title {
    font-size: 42px;
  }
  .news .news-box .news-box-item {
    width: 48%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 992px) {
  .fuel .fuel-box .fuel-box-item .title {
    font-size: 34px;
  }
  .fuel-katalog .fuel-box .fuel-box-item .title {
    font-size: 28px;
  }
  .fuel-analogue .fuel-analogue-box .fuel-analogue-box-left,
  .fuel-analogue .fuel-analogue-box .fuel-analogue-box-brend {
    width: 100%;
  }
  .fuel-analogue .fuel-analogue-box .fuel-analogue-box-brend {
    margin-top: 20px;
  }
  .fuel-analogue .fuel-analogue-box .fuel-analogue-box-brend .brend-item img {
    width: 100%;
  }
  .fuel-analogue .fuel-analogue-box .fuel-analogue-box-left .title {
    font-size: 28px;
  }
  .about .about-box .about-box-text,
  .about .about-box .about-box-info {
    width: 100%;
  }
  .about .about-box .about-box-text {
    margin-bottom: 20px;
  }
  .footer .footer-brend .brend-item {
    width: 25%;
  }
  .footer-contacts-item,
  .footer .footer-contacts .footer-contacts-menu,
  .footer .footer-info .footer-info-copyright,
  .footer .footer-info .footer-info-made {
    width: 50%;
  }
  .footer .footer-info .footer-info-made {
    text-align: right;
  }
  .footer .footer-contacts .footer-contacts-phone {
    margin-bottom: 20px;
  }
  .footer-contacts-btn {
    margin-top: 20px;
  }
  .overlay .modal-feetback {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .fuel .fuel-box .fuel-box-item {
    width: 50%;
  }
  .header .nav-container .logo .logo-active {
    width: 169px;
  }
  .fuel .fuel-box .fuel-box-item .title {
    font-size: 28px;
  }
  .overlay .modal-feetback {
    padding: 30px;
  }
  .overlay .modal-feetback .modal-feetback-contacts {
    width: 38%;
  }
  .overlay .modal-feetback .modal-feetback-form {
    width: 56%;
  } 
  #catalog .catalog-item {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .overlay .modal-feetback .modal-feetback-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .overlay .modal-feetback .modal-feetback-form,
  .overlay .modal-feetback .modal-feetback-contacts {
    width: 100%;
  }
  .overlay .modal-feetback .modal-feetback-contacts .text {
    margin: 10px 0;
  }
  .overlay .modal-feetback .modal-feetback-title {
    font-size: 30px;
  }
  .overlay .modal-feetback .modal-feetback-contacts .links {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (max-width: 576px) {
  .header .contacts .contacts-phone,
  .header .contacts .contacts-feedback,
  .header .enter {
    font-size: 12px;
  }
  .header .nav-container .logo .logo-normal,
  .header .nav-container .logo .logo-active,
  .header .header-overlay-all .nav-container .logo .logo-normal {
    width: 130px;
  }
  .fuel .fuel-box .fuel-box-item,
  .news .news-box .news-box-item {
    width: 100%;
  }
  .fuel .fuel-box .fuel-box-item {
    padding: 15px;
  }
  .footer .footer-brend .brend-item {
    width: 33%;
  }
  .footer-contacts-item,
  .footer .footer-contacts .footer-contacts-menu,
  .footer .footer-info .footer-info-copyright,
  .footer .footer-info .footer-info-made {
    width: 48%;
  }
  .footer-contacts-btn {
    width: 100%;
  }
  .overlay .modal-feetback .modal-feetback-title {
    font-size: 20px;
    line-height: 20px;
  }
  .overlay .modal-feetback .modal-feetback-form .modal-feetback-btn {
    width: 100%;
  }
  .overlay .modal-feetback .modal-feetback-descr {
    font-size: 14px;
    line-height: 14px;
  }
  .overlay .modal-feetback .modal-feetback-contacts .text,
  .overlay .modal-feetback .modal-feetback-contacts .phone,
  .overlay .modal-feetback .modal-feetback-contacts .email,
  .overlay .modal-feetback .modal-feetback-contacts .location {
    display: none;
  }
  .overlay .modal-feetback .modal-feetback-contacts .links {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .overlay .modal-feetback {
    padding: 20px;
  }
  .overlay .modal-feetback .modal-feetback-close {
    right: -25px;
  } 
  #catalog .catalog-item {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .header .contacts .contacts-phone,
  .header .contacts .contacts-feedback,
  .header .enter {
    font-size: 10px;
  }
  .header .nav-container .logo .logo-normal,
  .header .nav-container .logo .logo-active,
  .header .header-overlay-all .nav-container .logo .logo-normal {
    width: 100px;
  }
  .header .contacts .contacts-phone {
    background: url(../images/phone.png) 0 0 no-repeat;
  }
  .header .enter {
    background: url(../images/enter.png) 0 0 no-repeat;
  }
  .slider .slider-box .slider-box-info-text {
    font-size: 24px;
  }
  .about .about-box .about-box-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .about-box .about-box-info .about-box-info-item {
    width: 100%;
  }
  .footer .footer-contacts .footer-contacts-btn a {
    padding: 15px;
  }
}

@media screen and (max-width: 360px) {
  .header .contacts .contacts-phone,
  .header .contacts .contacts-feedback,
  .header .enter {
    font-size: 8px;
  }
  .slider .slider-box .slider-box-info-text {
    font-size: 22px;
  }
}

@media screen and (max-width: 320px) {
  .slider .slider-box .slider-box-info-text {
    font-size: 20px;
  }
}
.notif {
    display: none;
    position: fixed;
    text-align: center;
    top: 0;
    left: 50%;
    margin-left: -190px;
    width: 380px;
    background: #1a3550;
    color: #ffffff;
    font-weight: bold;
    padding: 15px 5px;
    text-transform: uppercase;
    font-size: 11pt;
    z-index: 99999;
    box-shadow: 0 5px 10px -5px #000;
}
















* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.profile {
  background-color: #122538;
  display: flex;
  flex-direction: row;
  width: 100%;

  --desktop-width: 1280px;
}

.profile-container {
  width: 100%;
  padding: 0;
}

.profile-header {
  background-color: white;
  height: 50px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding-right: calc((100% - var(--desktop-width)) / 2);
  gap: 70px;
}
.profile-header__money {
  font-weight: 400;
  font-size: 16px;
}

.profile-sidebar {
  background-color: black;
  height: 100vh;
  padding: 45px 20px;
  min-width: 120px;
  max-width: 120px;
  transition: all .1s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.profile-sidebar__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.profile-sidebar__link {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.profile-sidebar__link img{
  width: 35px;
  height: 35px;
  object-fit: contain;
}
.profile-sidebar__link span{
  color: white;
  display: none;
  transform: scale(0.1);
  word-wrap: none;
}
.profile-sidebar__link.active img {
  filter: brightness(0) invert(0.4) sepia(1) saturate(20) hue-rotate(175deg);
}
.profile-sidebar__logo {
  position: absolute;
  top: 45px;
  left: 20px;
  width: 77px;
  object-fit: contain;
}
.profile-sidebar__logo.open {
  left: 25px;
  height: 47px;
  width: 188px;
  object-fit: contain;
  display: none;
}

.profile-sidebar.open {
  min-width: 250px;
  max-width: 250px;
}

.profile-sidebar.open .profile-sidebar__logo {
  display: none;
}
.profile-sidebar.open .profile-sidebar__logo.open {
  display: block;
}
.profile-sidebar.open .profile-sidebar__link span{
  display: block;
  transform: scale(1);
}


.profile-content {
  background-color: #122538;
  height: 50px;
  width: 100%;
  padding: 0;
}